---
layout: splash
author_profile: false
description: "A podcast about Developer Tools and productivity, freshly baked to you by Nicola."
title: "The Developers' Bakery"
og_title: "The Developers' Bakery"

header:
    overlay_image: "/assets/images/header-home.jpg"
    og_image: "/assets/images/og-default-header.jpg"
excerpt: "<div class='header_box'><div class='author__avatar'><img src='/assets/images/avatar.png' itemprop='image'></div>
<div class='social__links'>
<a target='_blank' href='https://open.spotify.com/show/4jV6Yoz7D38sZJlYMzJm3k?si=icXCtcY5TBa4zi8AJ_uUWQ' title='Spotify'><i class='fab fa-spotify' aria-hidden='true'></i></a>
<a target='_blank' href='https://podcasts.google.com/feed/aHR0cHM6Ly90aGViYWtlcnkuZGV2L3BvZGNhc3QueG1s' title='Google Podcasts'><i class='fab fa-google-play' aria-hidden='true'></i></a>
<a target='_blank' href='https://podcasts.apple.com/us/podcast/the-developers-bakery/id1542849034' title='Apple Podcasts'><i class='fas fa-podcast' aria-hidden='true'></i></a>
<a target='_blank' href='https://pca.st/vq8ml6pl' title='Pocketcasts'><i class='fas fa-microphone-alt' aria-hidden='true'></i></a>
<a target='_blank' href='https://twitter.com/thebakerydev' title='@thebakerydev'><i class='fab fa-twitter' aria-hidden='true'></i></a>
<a target='_blank' href='mailto:info@thebakery.dev' title='info@thebakery.dev'><i class='fas fa-envelope' aria-hidden='true'></i></a>
</div>
<h4>A podcast about Developer Tools and Libraries.</h4>
<iframe src='https://open.spotify.com/embed-podcast/show/4jV6Yoz7D38sZJlYMzJm3k' width='100%' height='232' frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>
</div>"

row_about:
  - image_path: /assets/images/icon-about.png
    alt: "About"
    title: "About"
    excerpt: "A developer podcast about **tools**, **libraries**, and **productivity**. Featuring **open-source** developers & maintainers sharing their own experiences."
    url: "/about"
    btn_label: "Read More"
    btn_class: "btn--primary"
row_host:
  - image_path: /assets/images/icon-episodes.png
    alt: "Episodes"
    title: "Episodes"
    excerpt: "You can find new episodes on Spotify, Apple Podcasts, Google Podcasts or directly here in the **episodes** page."
    url: "/episodes"
    btn_label: "See all episodes"
    btn_class: "btn--primary"
row_episodes:
  - image_path: /assets/images/icon-host.png
    alt: "Follow"
    title: "Follow"
    excerpt: "Make sure you never lose an episodes by following the show on Twitter."
    url: "https://twitter.com/cortinico"
    btn_label: 'Follow on Twitter <i class="fab fa-twitter"></i>'
    btn_class: "btn--primary"
---

{% include feature_row id="row_about" type="center" %}
{% include feature_row id="row_host" type="center" %}
{% include feature_row id="row_episodes" type="center" %}

<div class="archive">

<h3 class="archive__subtitle">Recents Episodes</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
</div>
