{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="position: relative">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <div style="position:relative;">
      {% if teaser %}
        <div class="archive__item-teaser" style="background-image: url({{ teaser | absolute_url }})"></div>
      {% endif %}
      <div class="archive__item_titlecontainer">
        <h2 class="archive__item-title" itemprop="headline">
            <a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
        </h2>
        <h3 class="archive__date">{{ post.date | date_to_string }}</h3>
      </div>
    </div>
    {% if post.read_time %}
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncatewords: 40 }}</p>{% endif %}
  </article>
</div>
