name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  jekyll:
    runs-on: ubuntu-latest
    container: jekyll/builder
    steps:
    - name: Checkout Repo
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Install tar for caching
      run: apk update && apk add tar

    - uses: actions/cache@v5
      with:
        path: docs/vendor/bundle
        key: cache-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: cache-gems-

    - name: Create Directories
      run: |
        mkdir _site/
        mkdir -p vendor/bundle/
        chmod -R 777 .
        touch Gemfile.lock
        chmod a+w Gemfile.lock

    - name: Install Ruby Dependencies
      run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3

    - name: Build the Jekyll Website
      run: bundle exec jekyll build

    - name: Deploy Github Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.5
      with:
        branch: gh-pages
        folder: _site/
